ul{
	display: flex;
	justify-content: space-between;
}

li{
	width: 20%;
	padding: 15px 30px;
	list-style-type: none;
	text-align: center;

    border: 1px solid #404040;
    text-transform: uppercase;
}

li:hover {
    cursor: pointer;
}

ul > li{
	float: inherit; 
	position: relative;

}

ul li a {
    text-decoration: none;
    color: #404040;
}

li:hover {
    background-color: lightgrey;
}
.flex{
	display: flex;
	justify-content: space-between;
}

.align{
	display: flex;
	justify-content: space-between;
}	

/*  Responsive */

@media (max-width: 750px) {
    ul {
        display: block;
        text-align: center;
    }
    
    li {
        width: 75%;
    }
    
    
}

@media (max-width: 500px) {
    li {
        width: 45%;
    }
    
    nav {
        font-size: 10px;
        display: inline;
    }
}