.eleves{
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
	justify-content:flex-start;
}

li{
	width: 20%;
    padding: 10px 20px;
    margin: 20px 30px;
	list-style-type: none;
	text-align: center;

    /* border: 1px solid #404040; */
    text-transform: uppercase;
    box-shadow: 0 0 3px #808080;
}

li:hover {
    box-shadow: 0 0 10px #909090;
    transform: scale(1.01);
    cursor: pointer;
}


li {
    background-color: rgba(104, 104, 104, 0.733);
}

li:nth-child(odd) {
    background-color: rgba(231, 84, 165, 0.733);
}

li:hover {
    background-color: rgba(58, 58, 58, 0.733);
}

li:nth-child(odd):hover {
    background-color: rgba(230, 32, 141, 0.733);
}

li a {
    color: white;
    text-decoration: none;
    font-family: 'Cardo', sans-serif;
}

/*  Responsive */

@media (max-width: 750px) {
    ul {
        display: block;
        text-align: center;
    }
    
    li {
        width: 75%;
    }
    
    
}

@media (max-width: 500px) {
    li {
        width: 45%;
    }
    
    nav {
        font-size: 10px;
        display: inline;
    }
}