@import url('https://fonts.googleapis.com/css?family=Cardo|Rokkitt|Volkhov');
body{
    background: #7B7B7B;
    font-family: 'Cardo', serif;
    color:black;
}
h1{
    font-family: 'Volkhov', serif;
}