@import url('https://fonts.googleapis.com/css?family=Cardo|Rokkitt|Volkhov');

html{
    background-color: grey;
}
body {
    background-color: white;
    margin: 50px;
    padding: 50px;
    box-shadow: 1px 1px 30px #333;
    font-family: "Cardo", sans-serif;
}

h1, h2 {
    color: gray;
    font-family: 'Volkhov', serif;
}


/* RESPONSIVE */

@media (max-width: 1024px) {
    
    body {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding: 1px;
    }
    
    .container {
        margin: 10%;
        padding: 5px;
        
        
    }
    
}

